<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SauceDemoTest">
	<parameter name="browser" value="chrome" />

	<test name="Test">
		<classes>
			<class name="com.saucedemo.utils.Hooks" />
			<class name="com.saucedemo.config.TestRunner" />
		</classes>
	</test> 

</suite>